body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Muli', sans-serif;
  margin: 0; }

a {
  color: black; }
  a:visited {
    color: black; }

.error {
  position: absolute;
  top: 2px;
  bottom: 0;
  color: white;
  background-color: black;
  z-index: 1000;
  left: 2px;
  right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.loading-container {
  position: absolute;
  top: 2px;
  bottom: 0;
  background-color: black;
  z-index: 1000;
  left: 2px;
  right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.loading-text {
  width: 100px;
  z-index: 1000;
  text-align: center;
  background-color: black;
  color: white;
  mix-blend-mode: multiply; }

.loading-bg {
  height: 65px;
  background: white;
  max-width: 95px;
  position: absolute;
  top: 105px;
  left: 125px;
  -webkit-animation: Animation 2s ease-in-out infinite;
  animation: Animation 2s ease-in-out infinite; }

.bridge {
  width: 100px;
  height: 50px;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/bridgeloader.png"); }

@-webkit-keyframes Animation {
  0% {
    width: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes Animation {
  0% {
    width: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 0%; } }

.dot {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  float: left;
  margin: 0 5px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
          animation: fx 1000ms ease infinite 0ms; }
  .dot:nth-child(2) {
    -webkit-animation: fx 1000ms ease infinite 300ms;
            animation: fx 1000ms ease infinite 300ms; }
  .dot:nth-child(3) {
    -webkit-animation: fx 1000ms ease infinite 600ms;
            animation: fx 1000ms ease infinite 600ms; }

@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10px;
  min-height: 95vh;
  position: relative;
  max-width: 800px;
  margin: 0; }

.video-wrapper {
  border-bottom: 2px solid black;
  overflow: hidden;
  width: 350px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 272px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 10px; }

.video-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.timestamp {
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 10px; }

.status-border {
  width: 300px;
  margin: 20px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black; }

.status {
  background-color: white;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  padding: 5px; }

.warning {
  width: 14px; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }
  .header i {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: red;
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 2px; }
  .header p {
    margin: 0 0 3px; }
  .header .live {
    margin-right: 10px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2px 5px 0px;
    color: red;
    border: 1px solid red;
    font-size: 16px;
    margin-top: 3px; }
  .header h1 {
    font-size: 24px;
    margin: 0;
    display: inline-block; }

.footer {
  position: absolute;
  bottom: 10px;
  text-align: center; }

.video-links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 352px; }

.video-links__title {
  text-decoration: underline; }

.video-links,
.video-links__title {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px; }
  .video-links > h3,
  .video-links__title > h3 {
    margin-top: 0; }
  .video-links > div,
  .video-links__title > div {
    margin-top: 10px;
    cursor: pointer; }
    .video-links > div:hover,
    .video-links__title > div:hover {
      color: blue; }
    .video-links > div.active,
    .video-links__title > div.active {
      color: blue; }
      .video-links > div.active i,
      .video-links__title > div.active i {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: blue;
        display: inline-block;
        margin-right: 3px;
        margin-bottom: 2px; }

@keyframes fadeout {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */

/* Opera < 12.1 */
